body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(17, 17, 17);
    color:white;
    margin: 0;
}

h1{
    text-align: center;
    color: blueviolet;
    margin-top: 80px;
    font-size: 40px;
}

h2{
    text-align: center;
    margin-top: 60px;
}

.menu{
    background-color:rgb(34, 37, 36);
    padding: 10px 0;
    text-align: center;
}

.menu a{
    color:white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

.menu a:hover{
    background-color: blueviolet;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;
}

.music-list{
    max-width: 600px;
    margin: 20px auto;
}

.music-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: blueviolet;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px blueviolet;
}

span{
    font-size: 12px;
}

.btn{
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    color:rgb(1, 1, 6);
    background-color: rgb(243, 153, 255);
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover{
    background-color: rgb(222, 211, 233);
}

  /* Galeria de Imagens */
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 60px;
}

.gallery-item {
    border: 2px solid #444;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    width: 200px;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.gallery-item .desc {
    padding: 10px;
    text-align: center;
    background-color: #222;
}

/* Imagens com Filtros */
.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.filters img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 5px;
    border-radius: 8px;
}

.grayscale {
    filter: grayscale(100%);
}

.sepia {
    filter: sepia(100%);
}

.brightness {
    filter: brightness(1.5);
}

.contrast {
    filter: contrast(150%);
}

/* Seção Sobre */
.about {
    text-align: center;
    max-width: 700px;
    margin: 20px;
}

/* Seção Sobre */
.about {
    text-align: center;
    max-width: 700px;
    margin: 20px;
}

footer{
    background-color: #282840; 
    color: #f4f4f4; 
    padding: 15px; 
    text-align: center; 
    margin-top: 30px;
}